@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Avenir-Black';
  src: local('Avenir-Black'), url('fonts/Avenir-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url('fonts/Avenir-oblq.ttf') format('truetype');
}